
trendwatching.meta-box.ru, mb-trendwatching.molodostclinic.ru {

    handle / {
        root * /srv
        try_files /instagram-monitor.html =404
        file_server
    }

    handle /api/* {
        reverse_proxy api:8000
    }

    handle /health {
        reverse_proxy api:8000
    }

    header {
        X-Frame-Options "ALLOWALL"
        X-Content-Type-Options "nosniff"
        Referrer-Policy "no-referrer-when-downgrade"
    }

    log {
        output stdout
        format console
    }
}
